
::-webkit-scrollbar {
    display: none; /*Hide window scrollbar*/
}

::selection{
    background-color: black;
    color: white;
}

body{
    background-color: blueviolet;
    font-family: serif;
    font-size: 1.2em;
}

ul{
    padding: 0;
    margin: 0;
}

fieldset.page, footer{
    /* background-color: aliceblue; */
    width: 75%;
    padding: 1em 0;
    margin: 1em auto;
    border: 2px solid aliceblue;
    /* border: none; */
    border-radius: 1em;
}

fieldset.page>legend{
    background-color: purple;
    color: aliceblue;
    font-size: 1.2em;
    width: 50%;
    min-width: fit-content;
    text-align: center;
    border: 3px dashed black;
    border-radius: 5px;
}

section.field{
    background-color: #bbc;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 2em;
    position: relative;
    border-bottom: 1px solid aliceblue;
}

section.field > div{
    background-color: plum;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
}

section.field > div.question{
    background-color: coral;
}
section.field > div.date{
    background-color: aquamarine;
    margin-left: auto;
    /* position: absolute;
    right: 0em; */
}

a{
    color: initial;
    text-decoration: none;
    cursor: alias;
}

footer{
    background-color: plum;
}



/*///////////////////////////////////////////////////--- SIDE NAVBAR -------------------------------------------------///*/


nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 2.5%;
    overflow: hidden;
    transition: 1s;
}

nav>*{
    font-family: Garamond,sans-serif;
    width: 12.5vw;
    min-height: 10%;
    cursor: grabbing;
    transition: 1s;
}

nav>ul{
    display: grid;
    align-content: start;
    height: 50%;
    padding: 1em 0;
}

nav> ul> a{
    cursor: pointer;
    color: aliceblue;
    margin: 5px 2px;
    border: 2px solid aliceblue;
    transition: 1s;
}

nav:hover, nav.clicked{
    width: 12.5%;
    background-color: black;
    transition: 2s;
}

nav> *:hover:not(ul), nav.clicked> *:not(ul){
    background-color: blueviolet;
    transition: 1.5s;
}

nav ul:hover a{
    color: initial;
    background-color: #bbc;
    transition: 1s;
}
nav ul a:hover{
    background-color: blueviolet;
    transition: .5s;
}

